>SelectItem {
    -fx-alignment: center;
    -fx-background-color: #2B9CA0;
    -fx-padding: 20px 16px;
    -fx-font-family: "Helvetica", "Arial", sans-serif;
    -fx-font-size: 18px;
}

>SelectItem:hover {
    -fx-background-color: white;
}