.parent {
    -fx-background-color: #303138;
}

.close-btn {
    -fx-background-color: transparent;
}
.close-btn:hover {
    -fx-background-color: #E81123;
}

.min-btn {
    -fx-background-color: transparent;
}
.min-btn:hover {
    -fx-background-color: #171717;
}

>FontAwesomeIcon {
    -fx-background-color: transparent;
}

>FontAwesomeIcon:hover {
    -fx-background-color: #171717;
}

.txtfield {
    -fx-background-color: #3B4148;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.txtfield:focused {
    -fx-background-color: #363b41;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}

.login-btn {
    -fx-background-color: #EA4C88;
    -fx-text-fill: #FFFFFF;
}

.table-radius {
    -fx-background-radius: 10 10 10 10;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}
.table-view .table-cell{
    -fx-font-size:15px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
